.app-container {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.capitals-container {
  background-color: #f8fafc;
  width: 80%;
  max-width: 900px;
  border-radius: 15px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .capitals-container {
    width: 60%;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 42px;
  }
}

.heading {
  color: #1e293b;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
    text-align: left;
  }
}
.question-container {
  display: flex;
  align-items: center;
}

.capital-select {
  background-color: #f8fafc;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 500;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #cbd2d9;
  outline: none;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .capital-select {
    width: 180px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 17px;
  }
}
.optional {
  color: #323f4b;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .optional {
    font-size: 14px;
  }
}
.question {
  color: #000000;
  font-size: 13px;
  font-family: 'Roboto';
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .question {
    font-size: 16px;
  }
}
.country {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .country {
    font-size: 24px;
    font-family: 'Roboto';
  }
}
